* { box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

body { 
    display:flex;
    flex-direction:column;
}

header {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 25px 3px 25px;
    border-bottom: 3px rgb(40, 97, 18) solid;
    width: 100%;
    background-color: red;
    background-image: linear-gradient(to bottom left, rgb(112, 112, 253), red, yellow);
}

.name {
    display:flex;
    font-size: 50px;
    color: gold;
    text-shadow: 3px -1px 5px green;
    font-family: fangsong;
}

header p .Tikimaniac77 {
    color: darkgreen;
}

header p {
    display:flex;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;   
}

#header-bio {
    display:flex;
    flex-direction:row;
    align-items:Center;
    justify-content:space-between;
    
}

#header-bio img{
    display:flex;
    justify-content: flex-end;
    margin-left: 50px;
}

#bio {
    display:flex;
    color: gold;
    text-shadow: 5px -1px 5px green;
    font-size: 38px;
    padding: 100px 100px 100px 0;
    text-align: end;
     
}


nav ul {
    display:flex;
    justify-content: flex-end;  
}

nav li {
    padding: 10px 10px 0px 10px;
}

#content {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    flex: 1;
    background-color: rgb(9, 19, 0);
    background-image: linear-gradient(to top left, rgb(9, 19, 0), darkgreen, lightgreen, yellow);

    

}

#content div {
    display:flex;
    height:300px;
    justify-content: space-around;
    
}

#content h1 {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content:center;
    padding:10px;
    font-size: 54px;
    color: gold;
    text-shadow: 3px -1px 5px black;
    font-family: fangsong;

}

#about-me {
    padding-left: 400px;
    text-align: right;

}

#about-me-content{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 100px 0;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    margin-left: -200px;

}

.aside-mywork figure h2 {
    padding: 15px 36px 0px 38px;
    border: 2px gold solid;
    border-radius: 50% 50% 0 0;
    height: 40px;
    color: gold;
    text-shadow: 1px 1px 1px black;
    background-color: red;
    background-image: linear-gradient(to bottom left, rgb(112, 112, 253), red, yellow);
}

#promo-img{
    display:flex;
    border: 0px 3px 3px 3px gold solid;
    border-inline: 3px gold solid;
    border-radius: 0 0 50% 50%;
}

.aside-mywork {
    display:flex;

    
}

.other-work {
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-left: 25px;
    

}

.aside-mywork h3{
    padding-top: 10%;
    text-align: center;
    border: 2px gold solid;
    border-radius: 50% 50% 0 0;
    height: 40px;
    color: gold;
    text-shadow: 1px 1px 1px black;
    background-color: red;
    background-image: linear-gradient(to bottom left, rgb(112, 112, 253), red, yellow);
}

.other-work-class {
    display:flex;
    border: 0px 3px 3px 3px gold solid;
    border-inline: 3px gold solid;
    border-radius: 0 0 50% 50%;
}

div #contact-me-content  {
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-right: 200px;
    font-weight: 700;
    

}

#div-contact-me h1 {
    margin-right: -300px;
    text-align:end;
}